.about-grid {
    display: grid;
    grid-template-columns: 4.2fr 0.8fr; 
    gap: 30px; 
    margin: 0 auto; 
    width: 80%;
    margin-top: 50px;
    margin-bottom: 100px
}

.about-intro {
    margin: 0 auto; 
    margin-top: 20px;
    padding-top: 10px;
}

.about-image {
    height: 300px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.about-background {
    background-color: rgb(186, 214, 241);
    margin-top: 80px
}

@media only screen and (max-width: 768px) {
    .about-grid {
        grid-template-columns: 5fr 1fr; 
    }
    
    .about-image {
        height: 150px;
        margin-top: 70px;
        margin-right: -10px
    }

    .about-text {
        font-size: 14px
    }
    
    .about-text2 {
        font-size: 14px;
        display: none
    }

    .about-text3 {
        font-size: 14px;
        padding-bottom: 10px
    }

    .about-intro {
        margin-top: 10px;
        padding-top: 0px
    }
}