body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  overflow-x: hidden;
  background-color: #f3f9ff;
}

a {
  text-decoration: none;
}

.millie-ellis {
  margin-left: 10px;
  padding: 0px
}

nav {
    background-color: rgb(206, 206, 255);
    width: 200%;
    overflow: hidden;
  }
  
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
nav li {
    float: left;
  }
  
nav a {
    display: block;
    color: rgb(55, 55, 100);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    padding: 10px 16px;
    text-decoration: none;
  }
  
nav a:hover {
    background-color: rgb(207, 207, 252);
    color: black;
  }