.header-content {
    position: absolute;
    top: 90px;
    left: 90px;
    opacity: 70%;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
}

.header-image {
    float: right;
    width: 93%;
    overflow: hidden;
    position: relative;
    height: 87vh;
    margin-right: 50px;
    margin-top: 50px
}

.header-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.header-header {
    color:rgb(28, 64, 119);
    padding: 0px;
    margin-bottom: 0px;
    font-size: 45px
}

.header-header2 {
    margin: 0px;
    font-size: 30px;
    color:rgb(123, 169, 192);
    margin-bottom: 15px
}


@media only screen and (max-width: 768px) {
    .header-image {
        height: 30vh;
        width: 100%;
        margin-right: 0px;
        margin-top: 0px
    }

    .header-header {
        font-size: 25px
    }
    
    .header-header2 {
        font-size: 15px;
    }

    .header-content {
        position: absolute;
        top: 25px;
        left: 30px;

    }
}