.header-content {
    float: left;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    padding-left: 40px
}

.header-image {
    float: right;
    width: 50%;
    overflow: hidden;
    position: relative;
    height: 400px
}

.header-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%);
}

  /* Clearfix for the float layout */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.header-header {
    color:rgb(119, 28, 66);
    padding: 0px;
    margin-bottom: 0px;
    font-size: 55px
}

.header-header2 {
    margin: 0px;
    font-size: 45px;
    color:rgb(132, 185, 192);
    margin-bottom: 30px
}

.header-header3 {
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 30px
}

.click-here-button {
    font-size: 16px;
    color:black;
    background-color: rgb(132, 185, 192);
    width: 100px;
    border-radius: 7px;
    border-width: 2px;
    border-color: black;
    padding: 10px;
    text-align:center
}