.background-header {
    background-color: rgb(186, 214, 241);
    height: 760px;
}

.header-content {
    position: absolute;
    top: 90px;
    left: 50px;
    padding: 20px;
    box-sizing: border-box;
}

.header-image {
    float: right;
    width: 40%;
    overflow: hidden;
    position: relative;
    height: 75vh;
    margin-right: 90px;
    margin-top: 55px
}

.header-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.header-header {
    color:#515aa4;
    padding: 0px;
    margin-bottom: 0px;
    font-size: 90px;
    margin-top: 240px
}

.header-header2 {
    margin: 0px;
    font-size: 50px;
    color:white;
    margin-bottom: 15px
}

.intro1 {
    font-size: 20px;
    margin-top: 80px;
    color: #515aa4;
    width: 70%
}

.intro2 {
    font-size: 20px;
    color: #515aa4;
    width: 70%
}


@media only screen and (max-width: 768px) {
    .header-image {
        width: 70%;
        height: 70%;
        margin-top: 150px;
        margin-right: 65px;
    }
    .header-header {
        font-size: 55px;
        margin-top: 460px;
        margin-bottom: 10px
    }
    
    .header-header2 {
        font-size: 30px;
        padding: 0px;
        margin: 5px
    }

    .header-content {
        position: absolute;
        top: 25px;
        left: 30px;

    }

    .intro1 {
        font-size: 16px;
        margin-top: 50px;
        color: #515aa4;
        width: 90%
    }
    
    .intro2 {
        font-size: 16px;
        color: #515aa4;
        width: 90%
    }

    .background-header {
        height: 850px
    }
}