.skills-border {
    padding-bottom: 15px;
    border: 2px solid rgb(28, 64, 119);
    padding:20px;
    padding-left:25px;
    width: 77%;
    margin: 0 auto; 
    margin-top: 110px;
}

.skills-box{
    margin-bottom: 110px
}
.skills-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 30px;
    margin: 0 auto; 
}

.skill-section {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 20px;
    align-items: center;
}

.skills-image {
    height: 100px;
    width: 100px;
    margin: 0 auto; 
}

.skills-text {
    font-size: 16px;
    color: rgb(64, 64, 64)
}

h4 {
    color: rgb(64, 64, 64)
}

@media only screen and (max-width: 768px) {
    .skills-grid {
        grid-template-columns: repeat(1, 1fr); 
        width: 70%;
        gap: 0px
    }

    .skills-image {
        height: 60px;
        width: 60px;
    }

    .skills-text {
        font-size: 14px;
        margin-top: -10px
    }

    .skills-first {
        font-size: 14px
    }

    .skills-intro {
        margin-top: -20px;
    }
}